<div class="container">
  <h1>過去のお問い合わせ</h1>
    <p><%= link_to 'お問い合わせをする', new_contact_path, class: :link_button %></p>

    <% @contacts.each do |contact| %>
     <% if contact.user_id == current_user.id %>
     <div class="contacts_inner">
       <p class="contact_title"><%= link_to contact do %><i class="far fa-envelope-open"></i>&nbsp内容を確認する<% end %></p>
       <p class="contact_content">送信日&nbsp<%= contact.created_at.strftime('%Y/%m/%d') %></p>
     </div>
     <% end %>
    <% end %>
</div>
