<div class="container">
  <h1>お問い合わせフォーム</h1>
  <div class="column-footer">
    <%= link_to user_path(@user), class: :link_button do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= link_to "過去のお問い合わせ", contacts_path, class: :link_button %>
  </div>

  <%= render 'form', contact: @contact %>
</div>
