<div class="container">
  <div class="contacts_inner">
    <p class="contact_title"><h2>slackに通知しました</h2></p>
    <p class="contact_content"><%= link_to '戻る', words_path, class: :link_button %></p>
  </div>
</div>
