.contact_form_input_field {
  width: 80%;
  height: 200px;
  margin: 10px 10px 30px 10px;
  word-wrap: break-word;
}

#contact_content {
  border: 1px solid #ddd;
}

.caution p {
  font-size: 10px;
  color: #ff0000;
}

.new_contact {
  margin-top: 10%;
}

.new_contact .row {
  margin-left: 30px;
}

.contacts_inner {
  margin: 10%;
  padding: 10%;
  background: #ddd;
  box-shadow: 0px 0px 0px 5px #ddd;
  border: dashed 2px white;
}

.contact_content {
  width: 100%;
  text-align: right;
  color: #777;
}

.contact_title a{
  text-decoration: underline;
  color: #444;
}

.fa-envelope-open {
  font-size: 30px;
  color: #444;
}

.contact_title a:hover {
  text-decoration: none;
  color: #444;
}

.contact-date {
  width: 100%;
  text-align: right;
  color: #777;
}

.contact_details {
  padding: 10%;
  background: #ddd;
  box-shadow: 0px 0px 0px 5px #ddd;
  border: dashed 2px white;
}

.contact_details_inner_title {
  font-weight: bold;
  margin-top: 50px;
}

.contact_details_inner_explaination {
  word-wrap: break-word;
}
