// users/new.html.erb
.top {
  position: relative;
  background: image-url('PhotobyJessicaLewisonUnsplash.jpeg');
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.feature_one, .feature_two {
  position: relative;
  overflow: hidden;
  margin: 5% 0;
  padding: 80px 0;
  width: 80%;
}

.feature_two {
  float: right;
  clear: both;
}

.feature_one:before, .feature_two:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 3% -10% 0;
  background: #24a4fb;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: -1;
}

.feature_one_inner, .feature_two_inner {
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 120px 30px 0 120px;
  color: #fff;
  text-shadow: 1px 0px #000;
  position: absolute;
  top: 0;
  left: 0;
}

.feature_one_back, .feature_two_back {
  color: rgba(250, 250, 250, 0.3);
  font-size: 7em;
  line-height: 1em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.feature_one:after, .feature_two:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 2% -10% 0;
  background-color: #011931;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
}

// users/_form.html.erb
.steps {
  position: relative;
  margin: 10% 0;
  background: #24a4fb;
  overflow: hidden;
}

.steps_overlay_one {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 150%;
  height: 25%;
  margin: -22%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.steps_overlay_two {
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  width: 150%;
  height: 25%;
  margin-left: -3%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.steps_title {
  margin: 20% 10% 0% 10%;
}

.steps-inners {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 10% 20% 10%;
}

.step_one {
  padding: 30px;
}

.step_two {
  padding: 30px;
  margin-top: 60px;
}

.step_three {
  padding: 30px;
  margin-top: 120px;
}

.step_four {
  padding: 30px;
  margin-top: 180px;
}

.step_one p, .step_two p, .step_three p, .step_four p {
  display: inline-block;
  background-color: #444;
  color: #fff;
  font-weight: bold;
  padding: 20px 25px;
}

.step_one_title, .step_two_title, .step_three_title, .step_four_title {
  color: #fff;
  font-size: 25px;
}


.sign_in_inner p {
  font-size: 10px;
  color: #ff0000;
}

.row {
  margin-bottom: 20px;
}

label {
  margin-right: 20px;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="password"] {
  width: 300px;
  height: 40px;
}

input[type="number"] {
  width: 300px;
  height: 40px;
}

input[type="email"] {
  width: 300px;
  height: 40px;
}

 #profile_picture {
   height: 40px;
   line-height: 40px;
 }

.button {
  width: 200px;
  height: 40px;
  color: #444;
}

.button:hover {
  cursor: pointer;
  background-color: #24a4fb;
  color: #fff;
}

/* #################### Responsive Design 812px以下 #################### */
@media (max-width: 812px) {
  // users/new.html.erb
  .feature_one, .feature_two {
    width: 100%;
  }
}
