// users/index.html.erb
.other_users .row {
  height: 100px;
  line-height: 100px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.other_user {
  padding: 30px;
}

.other_user .item {
  height: 100px;
  line-height: 100px;
}

.other_user .name {
  font-size: 20px;
  font-weight: bold;
}

.other_user_content .user_pic .fa-user-alt {
  font-size: 50px;
  color: #24a4fb;
}

.other_users_content .row {
  height: 100px;
  line-height: 100px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.other_user_content {
  border-bottom: dashed 2px #aedbf9;
  padding: 30px;
}

.other_user_content .item {
  height: 100px;
  line-height: 100px;
}

button.follow, button.unfollow {
  border: 0px;
  text-decoration: underline;
}

button.follow:hover {
  color: #24a4fb;
  cursor: pointer;
  border: 0px;
}

button.unfollow:hover {
  color: #ff0000;
  cursor: pointer;
  border: 0px;
}

// users/new.html.erb
.top {
  position: relative;
  background: image-url('PhotobyJessicaLewisonUnsplash.jpeg');
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.feature_one, .feature_two {
  position: relative;
  overflow: hidden;
  margin: 5% 0;
  padding: 80px 0;
  width: 80%;
}

.feature_two {
  float: right;
  clear: both;
}

.feature_one:before, .feature_two:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 3% -10% 0;
  background: #24a4fb;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: -1;
}

.feature_one_inner, .feature_two_inner {
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 120px 30px 0 120px;
  color: #fff;
  text-shadow: 1px 0px #000;
  position: absolute;
  top: 0;
  left: 0;
}

.feature_one_back, .feature_two_back {
  color: rgba(250, 250, 250, 0.3);
  font-size: 7em;
  line-height: 1em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.feature_one:after, .feature_two:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 2% -10% 0;
  background-color: #011931;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
}

// users/_form.html.erb
.steps {
  position: relative;
  margin: 5% 0 10% 0;
  height: 1200px;
  background: #24a4fb;
  overflow: hidden;
}

.steps_overlay_one {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 150%;
  height: 20%;
  margin: -22%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.steps_overlay_two {
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  width: 150%;
  height: 20%;
  margin-left: -3%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.steps_title {
  margin: 20% 10% 0% 10%;
}

.steps-inners {
  margin: 5% 10% 20% 10%;
}

.step_one {
  padding: 30px;
}

.step_two {
  padding: 30px;
  margin-top: 60px;
}

.step_three {
  padding: 30px;
  margin-top: 120px;
}

.step_four {
  padding: 30px;
  margin-top: 180px;
}

.step_one p, .step_two p, .step_three p, .step_four p {
  display: inline-block;
  background-color: #444;
  color: #fff;
  font-weight: bold;
  padding: 20px 25px;
}

.step_one_title, .step_two_title, .step_three_title, .step_four_title {
  color: #fff;
  font-size: 25px;
}

.cover {
  position: relative;
}

.step_one_inner, .step_two_inner, .step_three_inner, .step_four_inner {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
}

.step_one_title, .step_two_title, .step_three_title, .step_four_title {
  color: rgba(250, 250, 250, 0.3);
  font-size: 3em;
  line-height: 1em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.sign_in_inner p {
  font-size: 10px;
  color: #ff0000;
}

.row {
  margin-bottom: 20px;
}

label {
  margin-right: 20px;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="password"] {
  width: 300px;
  height: 40px;
}

input[type="number"] {
  width: 300px;
  height: 40px;
}

input[type="email"] {
  width: 300px;
  height: 40px;
}

#profile_picture {
  height: 40px;
  line-height: 40px;
}

// users/show.html.erb
.profile_picture {
  margin: 5% 5% 0 0;
  padding: 5% 5% 5% 5%;
  z-index: 5;
  float: right;
}

.profile_picture i {
  font-size: 100px;
}

.profile_picture:after {
  clear: right;
}

.profile_top {
  margin: 5%;
  padding: 5%;
  background: #aedbf9;
  box-shadow: 0px 0px 0px 5px #aedbf9;
  border: dashed 2px white;
}

.profile_top .title {
  font-weight: bold;
}

.profile_top a {
  text-decoration: underline;
  color: #444;
}

.profile_top a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.profile_top table {
  margin-top: 50px;
  margin-left: 50px;
  width: 60%;
}

.profile_top td {
  padding: 10px;
}

.profle_edit_link {
  width: 100%;
  text-align: right;
}

.profile_top .link_button {
  border: 1px solid #fff;
  text-decoration: none;
}

.profile_top .link_button:hover {
  text-shadow: none;
}

.profile_charts {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  margin: 2% 2% 10% 2%;
  text-align: center;
}

// users/edit.html.erb
.edit_profile_inner {
  margin: 5%;
  padding: 5%;
}

.edit_profile .row {
  margin-left: 30px;
}

.edit_profile img {
  margin-top: 10px;
}

/* #################### Responsive Design #################### */
@media (max-width: 1119px) {
  .steps {
    height: 1300px;
  }

  .steps_title {
    margin-top: 20%;
  }

  .steps_overlay_one {
    width: 150%;
    height: 20%;
    margin-left: -5%;
  }

  .steps_overlay_two {
    width: 120%;
    height: 15%;
    margin-left: -5%;
  }

  .step_three {
    margin-top: 0;
  }

  .step_four {
    margin-top: 60px;
  }

  // users/index.html.erb
  .other_users .row {
    height: auto;
  }

  .other_users .item {
  height: auto;
  }

  .other_users .content {
  height: auto;
  }
}

@media (max-width: 767px) {
  // users/new.html.erb
  .features p {
    font-size: 12px;
  }

  .feature_one, .feature_two {
    width: 100%;
  }

  .steps {
    height: 1800px;
  }

  .steps_title {
    margin-top: 60%;
  }

  .steps_overlay_one {
    width: 150%;
    height: 10%;
    margin-left: -5%;
  }

  .steps_overlay_two {
    width: 120%;
    height: 10%;
    margin-left: -5%;
  }

  .steps_title h2 {
    font-size: 20px;
  }

  .step_one, .step_two, .step_three, .step_four {
    margin: 0;
  }

  // users/show.html.erb
  .profile_top table {
    margin-top: 5%;
    margin-left: 5%;
    width: auto;
  }

  .profile_picture {
    padding-right: 5%;
  }

  // users/_form.html.erb
  .sign_in_inner {
    margin-left: 10px;
  }

  // users/index.html.erb
  .other_user_content .item {
    height: 50px;
    line-height: 50px;
  }

  .other_user_content .user_pic img, .other_user_content .user_pic i {
    float: right;
  }
}
